@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

html {
    background-color: #344955;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    display: block;
    scrollbar-width: none;
}

h1 {
    text-align: center;
    font-size: 45px;
}

h2 {
    text-align: center;
    font-size: 35px;
    padding-top: 3vh;
}

.topic {
    font-size: 30px;
    padding-left: 3vw;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
}

.links {
    font-size: 30px;
    margin-top: -1.5vh;
    padding-left: 5vw;
    color: grey;
}

.bottom {
    padding-bottom: 4vh;
}

a {
    text-decoration: none;
    color: grey;
}

a:hover {
    color: grey;
}

.footer {
    position: relative;
    text-align: center;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: auto;
    background-color: #435B66;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav {
    position: relative;
    text-align: center;
}

ul li {
    margin: 0 5px;
}

ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #435B66;
    border-radius: 5px;
    transition: background-color 0.3s;
}

ul li a:hover {
    background-color: #0056b3;
}

.about-text {
    text-align: center;
}

.subtext {
    margin-top: -4vh;
    text-align: center;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.trusted-source {
    text-align: center;
    font-size: 1.75em;
}

.trusted-source-description {
    text-align: center;
    font-size: 1em;
    margin-top: -3vh;
}

.creator {
    text-align: center;
    font-size: 1.5em;
}
